h1 {
    color: purple;
    font-family: 'Kalam', cursive;
}

header {
    background-color: #7eb3cf;
}

body {
    background-color: #c8d6e6;
}

footer {
    background-color: #4a7891;
    padding: 10px;
}

img {
    border-radius: 5% 5% 5% 21%;
    border: 5px double blue;

}




.main {
    font-family: arial;
    background-color: #146798;
}

.main h1 {
    font-family: arial;
    color: white;
    text-transform: uppercase;
}

.main p {
    background-color: hotpink;
    text-align: center;
}

.main ul {
    list-style: upper-latin;
}

.main .footer {
    font-style: italic;
    font-weight: bold;
    font-size: 32px; 
}
