h1 {
    color: purple;
    font-family: 'Kalam', cursive;
}

header {
    background: rgb(24,24,88);
    background: linear-gradient(45deg, rgba(24,24,88,1) 0%, rgba(94,193,219,1) 100%);
    display: flex;
    align-items: center;
    padding-right: 30px;
}

nav {
    margin-right: auto;
}

nav a {
 color: white;
 padding: 20px;
 text-transform: uppercase;
 text-decoration: none;
}

nav a:hover {
    background-color: black;
}

body {
    background-image: url("../img/background.jpg");
    background-color: #012837;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
}

footer {
    background-color: #4a7891;
    padding: 10px;
}

img {
    border-radius: 5% 5% 5% 21%;
    border: 5px double blue;

}




.main {
    font-family: arial;
    background-color: #146798;
}

.main h1 {
    font-family: arial;
    color: white;
    text-transform: uppercase;
}

.main p {
    background-color: hotpink;
    text-align: center;
}

.main ul {
    list-style: upper-latin;
}

.main .footer {
    font-style: italic;
    font-weight: bold;
    font-size: 32px; 
}
